{
	"service": {
		"url": "https://abrechnung.sft.mx",
		"name": "SFT Kybernetik-Abrechnung 2.0"
	},
	"websocket": {
		"port": 4333,
		"ssl_pem_files" : {
			"key": "/etc/letsencrypt/live/abrechnung.sft.mx/current.key",
			"cert": "/etc/letsencrypt/live/abrechnung.sft.mx/fullchain.pem",
			"dhparam": null,
			"misc": {}
		}
	},
	"database": {
		"user": "abrechnung",
		"password": "Mb2.r5oHf-0t",
		"host": "localhost",
		"database": "abrechnung"
	},
	"email": {
		"host": "mail.sft.mx",
		"port": 587,
		"auth": {
			"user": "abrechnung",
			"pass": "Mb2.r5oHf-0t"
		},
		"address": "abrechnung@sft.mx"
	}
}
